<div class="calculator">
  <input type="text" readonly placeholder="0" [(ngModel)]="inputValue" />
  <div>
    <button class="operator" (click)="clear()">AC</button>
    <button class="operator" (click)="delete()">DEL</button>
    <button class="operator" (click)="append('%')">%</button>
    <button class="operator" (click)="append('/')">/</button>
  </div>
  <div>
    <button (click)="append('7')">7</button>
    <button (click)="append('8')">8</button>
    <button (click)="append('9')">9</button>
    <button class="operator" (click)="append('*')">*</button>
  </div>
  <div>
    <button (click)="append('4')">4</button>
    <button (click)="append('5')">5</button>
    <button (click)="append('6')">6</button>
    <button class="operator" (click)="append('-')">-</button>
  </div>
  <div>
    <button (click)="append('1')">1</button>
    <button (click)="append('2')">2</button>
    <button (click)="append('3')">3</button>
    <button class="operator" (click)="append('+')">+</button>
  </div>
  <div>
    <button (click)="append('00')">00</button>
    <button (click)="append('0')">0</button>
    <button (click)="append('.')">.</button>
    <button class="equalBtn" (click)="calculate()">=</button>
  </div>
</div>
